<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="innometrics.commands.category"
            name="%category.name">
      </category>
      <command
            categoryId="innometrics.commands.category"
            id="innometrics.commands.Login"
            name="%command.name">
      </command>
      <command
            categoryId="innometrics.commands.category"
            id="innometrics.commands.Stop"
            name="%command.name.0">
      </command>
   </extension>
   <extension point="org.eclipse.ui.startup">
     <startup class="handlers.EclipseLoggerStartup"/>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handlers.LoginHandler"
            commandId="innometrics.commands.Login">
      </handler>
      <handler
            class="handlers.StopHandler"
            commandId="innometrics.commands.Stop">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="innometrics.commands.Login"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="innometrics.menus.eclipseLoggerMenu"
               label="%menu.label"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="innometrics.commands.Login"
                  id="innometrics.menus.sampleCommand"
                  mnemonic="%command.mnemonic">
            </command>
            <command
                  commandId="innometrics.commands.Stop"
                  id="innometrics.menus.sampleCommand1"
                  mnemonic="%command.mnemonic.0">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="innometrics.toolbars.sampleToolbar">
            <command
                  commandId="innometrics.commands.Login"
                  icon="icons/sample.png"
                  id="innometrics.toolbars.sampleCommand"
                  tooltip="%command.tooltip">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
